@{
    // ViewData["Title"] = "Privacy";
    Layout = "_Layout";
}


<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Daha fazla <a href="https://www.boatinternational.com/yachts-for-sale">satılık yatlara göz atın </a>.</p>
</div>

<div class="text-center">
    <legendary>Kayıt Ekranı için </legendary>
    <br />
    <a class="btn btn-primary" asp-controller="Login" asp-action="Save">Kayıt</a>
</div>
