<form class="text-center" , method="post" , asp-action="Index1">
    Kayıt ol: 
    <br />
    İsim : <input name="Ad" />
    <br />
    Soyisim : <input name="Soyad" />
    <br />
    <button>Send</button>
</form>